<div class="newTaskPopup">
    <div class="popUpLeft">
        <input placeholder="task name" name="taskName" type="text">
        <ul class="newTaskUl">
            <li>New Task</li>
        </ul>
    </div>
    <div class="popUpLeft">
        <select name="dueDate" id="dueDate">
            <option value="today">Today</option>
            <option value="tomorrow">Tomorrow</option>
        </select>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <button class="taskComplete">Complete Setup</button>
    </div>

</div>    