
    <div class="popUpLeft">
        <input placeholder="task name" class="newTask" name="taskName" type="text">
        <div class="newTaskList">
            <form action="">
                <input type="text" name="new-task">
                <ul class="newTaskListUl">
                    <li>aklsjdf</li>
                </ul>
                <button class="addNewTask"  type="submit">add new task</button>
            </form>
        </div>
    </div>
    <div class="popUpLeft">
        <select name="dueDate" id="dueDate">
            <option value="today">Today</option>
            <option value="tomorrow">Tomorrow</option>
        </select>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <button class="taskComplete">Complete Setup</button>
    </div>
  
