    <div class="popUpLeft">
        <input required placeholder="taskName" class="newTask" name="taskName" type="text">
        <div class="newTaskList">
            <div class='todo-form'>
                <input class="newTodo" type="text" name="new-todo">
                <ul class="newTaskListUl">
                </ul>
                <button class="addNewTask" type="button" >add new task</button>
            </div>
        </div>
    </div>
    <div class="popUpLeft">
        <select name="dueDate" id="dueDate">
            <option value="today">Today</option>
            <option value="tomorrow">Tomorrow</option>
        </select>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <button type="submit" class="taskComplete">Complete Setup</button>
    </div>
  
