<form action="/" class="newProjectPopup">
    <input required class="title" type="text" placeholder="new project">
    <button type="button" class="closePopup">X</button>
    <div class="newProjectOptions">
        <select name="priority" id="priority">
            <option value='very-important'>very important</option>
            <option value="important">important</option>
            <option value="least-important">least important</option>
        </select>
        <button type="submit" class="createProject">Create New Project</button>
    </div>
</form>