
{{#each projectList}}
    <div class="projCard">
        <div class="projTitleBox" id="{{this.title}}">
                <h1 class="projTitle">{{this.title}}</h1>
        </div>

        <ul class="taskList">
            {{#each this.tasks}}
                <li>{{this.title}}</li>
            {{/each}}
            <button class="newTaskBtn {{this.title}}">add new task</button>
        </ul>
        
    </div>
{{/each}}
