html, body {
    padding: 0 0;
    margin: 0 0 ;
}

button {
    cursor: pointer;
}
li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

p {
    margin: 0;
}
.todoOptions {
    height: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    /* margin-top: 30px; */
}
.sortOptions {
    display: flex;
    gap: 35px;
    justify-content: center;
    font-size: 1.2rem;
    /* margin: auto; */
    
}
.container {
    margin: 0 auto;
    display: flex;
    width: 95vw;
    gap: 20px;
    padding: 30px 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0;
}

.cardContainer {
    height: 100%;
    width: 90vw;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: auto;
}
.sortOptions button {
    background-color: white;
    text-decoration: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .7;
    transition: ease-in-out .25s;
}
.sortOptions button:hover {
    opacity: 1;
    font-size: 1.2rem;
    text-decoration: underline;
}
.newProjectPopup {
    margin: auto;
    height: 175px;
    background-color: lightpink;
    width: 350px;
    display: flex; 
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 15px;
    position: relative;
}
.titleWrapper {
    background-color: lightblue;
    height: 100px;
}
.newProjectOptions {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
.newProjectOptions select, .newProjectOptions button {
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}
.newProject {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    width: 111px;
}
.title {
    height: 50px;
    background: #D9D9D9;
    width: 100%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    padding: 0 25px;
    box-sizing: border-box;
    font-size: 22px;
}
.closePopup {
    position: absolute;
    font-size: 1rem;
    top: 5px;
    right: 10px;
}

.projCard {
    width: 300px;
    height: 400px;
    background: linear-gradient(to top right, darkgray, white);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
}
.projTitleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.projTitleBox img {
    height: 10px;
    cursor: pointer;
}
.projCard h1 {
    margin: 0 0;
    box-sizing: border-box;
    color: black;
}
.priorityLevel {
    width: 50px;
    border-radius: 10px;
    height: 18px;
    
}
.taskContainer {
    display: flex;
    gap: 10px;
    height: 40px; 
    align-items: center;
    border-bottom: 2px solid black;
    width: 85%;
}
.taskContainer p {
    margin: 0;
    font-size: 18px ;
}

.taskList {
    height: 80%;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}


.newTaskList {
    background-color: white;
}
.newTaskList ul {
    list-style-type: none;
}

.newTaskPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 50%;
    width: 800px;
    height: 430px;
    background: #D9D9D9; 
    z-index: 5;
    margin-left: -400px; 
    align-items: center;
    border-radius: 15px;
}
.taskPopupWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}
.newTaskBtn {
    background-color: rgb(0 0 0 / 0%);
    border: none;
    margin-top: 10px;
    font-size: 1rem;
}
.newTask {
    height: 60px;  
    padding: 10px;
    text-align: center;
    box-sizing: border-box ;
}
.popUpLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 20px;
}
#priority {
    height: 60px;
}
.newTaskUl {
    height: 60%;
    background-color: white;

}
.projectOptionsPopup {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.projectOptionBtns {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid lightgrey;
    color: darkgray;
    cursor: pointer;
}
.todayContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.todayCard {
    width: 60%;
    min-height: 400px;
    background-color: lightgrey;
    padding: 15px 0px;
    border-radius: 15px;
}

input[type=checkbox] {
    border-radius: 15px;
    border: none;
    accent-color: green;
    height: 16px;
    width: 16px;
}

#dueDate {
    height: 60px;
    box-sizing: border-box;
    text-align: center;
}

.todo-form {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    box-sizing: border-box;
}

.todo-form button {
    height: 30px;
    background-color: white;
    border: none;
    opacity: .7;
    
}

.todoList {
    height: 80px;
    margin: 0 0;
    padding: 0 0;
}

textarea {
    height: 150px;
    resize: none;
    box-sizing: border-box;
    padding: 15px 15px;
}


.newTodo {
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: 25px;
}

.taskComplete, .taskDeleteBtn {
    height: 60px;
}

.taskComplete {
    background-color: rgb(0 0 0 / 0%);
    border: 2px solid green;
    color: green;   
}